body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0F0F0F;
  color: #fff;
}

img {
  width: 100%;
  max-width: 90px;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 1rem;
}

.container .crypto-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.container .crypto-cards, .container .crypto-detail {
  padding: 1rem;
  text-align: center;
  background: #323234;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.search input {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border: 0;
  border-radius: 10px;
}

